<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Lucca",
      "addressRegion": "LU",
      "postalCode": "55100",
      "streetAddress": "Piazzale Verdi"
    },
    "name": "Giardini del Museo della Zecca"
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "EUR",
    "url": "https://luccamedievale.it",
    "availability": "http://schema.org/InStock",
    "validFrom": "2019-01-01T00:00"
  },
  "image": [
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/leonardi_6.jpg",
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/leonardi_10.jpg",
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/askthepixel_03.jpg",
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/askthepixel_05.jpg"
  ],
  "performer": {
    "@type": "PerformingGroup",
    "name": "Contrade San Paolino",
    "email": "consanpaolino@gmail.com"
  },
  "name": "Lucca Medievale",
  "description": "Evento annuale con mostra mercato, spettacoli di strada, torneo dei balestrieri",
  "eventStatus": "EventScheduled",
  "isAccessibleForFree": true,
  "startDate": "2019-06-01T10:30",
  "endDate": "2019-06-02T23:00",
  "url": "http://luccamedievale.it"
}
</script>