<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Lucca",
      "addressRegion": "LU",
      "postalCode": "55100",
      "streetAddress": "Piazzale Verdi"
    },
    "name": "Giardini del Museo della Zecca, Ex-Cavallerizza, Porta San Donato"
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "EUR",
    "url": "https://luccamedievale.it",
    "availability": "http://schema.org/InStock",
    "validFrom": "2021-01-01T00:00"
  },
  "image": [
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/leonardi_6.jpg",
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/leonardi_10.jpg",
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/askthepixel_03.jpg",
    "https://consanpaolino.org/assets/images/2018/lucca-medievale/askthepixel_05.jpg"
  ],
  "performer": {
    "@type": "PerformingGroup",
    "name": "Contrade San Paolino",
    "email": "luccamedievale@consanpaolino.org"
  },
  "organizer": {
    "@type": "Organization",
    "name": "Contrade San Paolino",
    "url" : "https://consanpaolino.org",
    "email": "luccamedievale@consanpaolino.org"
  },
  "name": "Lucca Medievale 2021",
  "description": "{{ site.description }}",
  "eventStatus": "EventCancelled",
  "isAccessibleForFree": true,
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "startDate": "2021-08-29T10:00",
  "endDate": "2021-08-29T22:00",
  "url": "https://luccamedievale.it"
}
</script>
