---
---
@import "{{ site.theme }}";

li {
    padding-top: 12px;
}

.project-name {
    font-size: 4rem;
    font-family: 'MedievalSharp';
    text-shadow:
    -1px -1px 0 #572f25,
    1px -1px 0 #572f25,
    -1px 1px 0 #572f25,
    1px 1px 0 #572f25;
    padding-top: 0.5em;
    display: none;
}

.project-name a {
    color: #ffa300 !important;
}

.project-emoji {
    font-size: 3rem;
}

.project-tagline {
    display: none;
    font-size: 1.5rem;
    opacity: 0.8;
    text-shadow:
    -1px -1px 0 #572f25,
    1px -1px 0 #572f25,
    -1px 1px 0 #572f25,
    1px 1px 0 #572f25;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 6rem;
    }
    
    .project-tagline {
        font-size: 2rem;
    }
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
    box-shadow:inset 0px 1px 0px 0px #f9eca0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
    background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
    background-color:#f0c911;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #e65f44;
    display:inline-block;
    cursor:pointer;
    color:#c92200;
    font-family:Arial;
    font-size: 1.2rem;
    font-weight:bold;
    padding:16px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ded17c;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
    background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
    background-color:#f2ab1e;
}
.myButton:active {
    position:relative;
    top:1px;
}

.page-header {
    background-color: #fcf8e6;
    background-image: url(/assets/images/lm25-banner-landscape.webp);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    min-height: 400px;
}

@media screen and (max-width: 96em) {
    .page-header {
      background-image: url("/assets/images/lm25-banner-portrait.webp");
      min-height: 38rem;
    }
  }

body {
    background-color: #fcf8e6;
}

.main-content h1 {
    display: none;
}

.main-content h2 {
  color: #c5432f;
}

.main-content h3,
.main-content h4 {
  color: #e07a39;
}

.main-content h5,
.main-content h6 {
  color: #638f70;
}