<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

  <head>
  <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|MedievalSharp' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/dist/pa-embed-player.min.js" async></script>
  </head>

  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/">{{ site.title }}</a></h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
         {{ site.credits }}
        </span>
      </footer>
    </section>

  <script src="https://alceris.com/script.js" data-id="e816b75180a51041" async defer></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=flying&always=1"></script>
</html>
